---

import Base from "../layouts/Base.astro";

---

<Base titre="Accueil">
  <h1 class="bg-red-950 text-white text-4xl p-10 font-semibold text-center">
    Accueil
  </h1>
  <h1 class="text-2xl font-medium p-8 font-Playwrite-IN">Agence immobilière</h1>
  <p class="p-4"> Notre agence immobilière vous propose les meilleures maison, aux meilleurs prix, et les trie selon vos envies ! </p>
  <img class="w-max justify-center pl-10" src="src/assets/image/image_agence.jpg" alt="pont" />
</Base>
