---
import Header from "../components/Header.astro";
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Offres</title>
	</head>
	<body>
        <Header />
        <Base titre="Accueil">
    <h1 class="bg-red-950 text-white text-4xl p-10 font-semibold text-center">Offres</h1> 
		<h1 class="text-2xl font-medium font-serif p-8 ">Hello world </h1>
		</Base>
        <Footer />
	</body>
</html>
