---
const { ...offre } = Astro.props;
---

<div class="bg-gray-200 p-4 m-4 rounded-lg shadow-lg">
  <p class="text-2xl pb-2">{offre.nomMaison}</p>
  <img src={offre.img} />
  <a href={`/offres/${offre.id}`}>Voir plus</a>
</div>


