<nav class=" bg-red-950 text-white text-right font-medium ">
    <a class="mr-4 " href="/">Accueil</a>
    <a class="mr-4" href="/offres ">Offres</a>
    <a class="mr-4" href="/agents">Agents</a>

</nav>