---
import Base from "../../../layouts/Base.astro";
import Card from "../../../components/Card.astro";
import { getMaisonsParSurface } from "../../../backend.mjs";

const { surface } = Astro.params;
const minSurface = parseFloat(surface as string) || 0;
const maisons = await getMaisonsParSurface(minSurface);
console.log(maisons);
---

<Base>
  <h1>Maisons avec une surface de plus de {surface} m²</h1>

  {
    maisons.length > 0 ? (
      <div class="grid">
        {maisons.map((maison) => (
          <Card {...maison} />
        ))}
      </div>
    ) : (
      <p>Aucune maison trouvée.</p>
    )
  }
</Base>
